$c_white1: #ffffff;
$c_white2: #f5f5f5;
$c_white3: #e6e6e6;

$c_grey1: #999999;
$c_grey2: #666666;
$c_grey3: #b3b3b3;
$c_grey4: #999;

$c_green_light1: #99cc33;
$c_green_light2: #9fd533;
$c_green_light3: #86b300;

$c_blue_dark1: #2f3254;
$c_blue_dark2: #0b0f27;

$c_red: #ea5f41;
